.alert-danger {
  padding: 20px;
  background-color: #e57368;
  border-color: #db4437;
  color: white;
}

.alert-success {
  padding: 20px;
  background-color: #33b679;
  border-color: #0f9d58;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
